/* TODO font - comienzo */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dosis:wght@500&family=Inter:wght@200;600&family=Kanit:ital,wght@0,300;0,400;1,800&family=Open+Sans:wght@300;400;700;800&family=Oswald:wght@200;300;500&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ramaraja&family=Roboto+Mono:ital,wght@0,100;0,400;1,600&family=Roboto+Slab:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,700;1,700&family=Rubik:wght@800&display=swap");

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Ramaraja', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif; */
/* TODO font - final */

:root {
  /* font-size */
  --font-size-navbar: 1.1rem;
  --font-size-p-section: 1.3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3-card: 1.2rem;
  --font-size-span-card: 1rem;
  --font-size-p-card: 0.9rem;
  --font-size-btn: 1rem;
  /* bg color */
  --background-nav: #4e132c;
  --background-nav-hover: #000000;
  --bg-button: #002223;
  /* bg-image */
  --background-img-main: linear-gradient(
    to right bottom,
    #ad2f77,
    #85204a,
    #97304b,
    #b62e43,
    #e05150,
    #d74b48,
    #ce453f,
    #c53f37,
    #b5313b,
    #a4253e,
    #921b3f,
    #7f133e
  );
  --background-img-card: linear-gradient(360deg, #ff0084, #33001b);
  /* text colors */
  --text-white: #f3f4f6;
  --text-nav-hover: #e2c05a;
  --text-grey: #272727;
  --text-violet: rgb(11, 102, 11);
  --text-black: #000000;
  /* box-shadow */
  --box-shadow-img: 5px 5px 12px 10px black;
  --box-shadow-card: 5px 5px 8px 12px black;
  /* text-shadow */
  --text-shadow-h2: 10px 5px 10px var(--text-decoration-h2),
    2px 2px 10px var(--text-decoration-h2);
  --text-shadow-p-section: 5px 1px 10px var(--text-decoration-p),
    2px 2px 10px var(--text-decoration-p);
  --text-shadow-p-about: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    0 0 0.2em rgb(75, 143, 245), 0 0 0.2em rgb(15, 90, 189),
    0 0 0.2em rgb(0, 0, 0);
  --text-shadow-p-card: 5px 1px 10px var(--text-decoration-p);
  --text-shadow-h3-card: 10px 5px 10px var(--text-decoration-h2),
    2px 2px 10px var(--text-decoration-h2);
  --text-shadow-price-card: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    0 0 0.2em rgb(75, 143, 245), 0 0 0.2em rgb(15, 90, 189),
    0 0 0.2em rgb(0, 0, 0);
  /* border-color */
  --border-color-img-card: solid 2px beige;
  /* decoration */
  --cart-icon: #f3f4f6;
  --cart-icon-hover: #fd94c4;
  --text-decoration-h2: #2d420c;
  --text-decoration-p: #209cd8;
}

/* ------- ACA EMPIEZA EL CODIGO DEL BODY ---------------- */

/**-----//// selector universal ////-----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* scroll-behavior: smooth; */
  list-style-type: none;
  text-decoration: none;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Roboto Slab", serif; */
  min-width: min-content;
}

/** ----- header inicio ----- */
header {
  width: 99%;
  min-width: 70%;
  height: 6.25rem;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-nav);
  position: fixed;
  padding: 1%;
  margin: 1% 0.5%;
  transition: all 0.8s ease-out;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 80px;
  z-index: 10;
}
header:hover {
  background-color: var(--background-nav-hover);
  padding: 10px 0px;
}
.logo {
  width: max-content;
  height: 100px;
}
.navbar {
  width: 70%;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* min-width: max-content; */
}
.navbar-list li a {
  color: var(--text-white);
  font-size: var(--font-size-navbar);
}
.navbar-list li a:hover {
  color: var(--text-nav-hover);
  text-decoration: underline;
  text-underline-position: under;
}
.navbar-list li:nth-child(1) {
  font-weight: 900;
}
.cart-icon {
  color: var(--cart-icon);
  margin-right: 10px;
  cursor: pointer;
  /* width: max-content;
  height: max-content; */
}
.bx,
.bxs-cart {
  color: var(--cart-icon);
  font-size: 30rem;
}
.bx-cart:hover,
.bxs-cart:hover {
  color: var(--cart-icon-hover);
  transform: rotateY(360deg);
  transition: 1s;
  width: auto;
}
/** ----- header final ------ */

/*! ---- //// MAIN INICIO ---- //// */
main {
  background-image: var(--background-img-main);
  width: 100%;
  padding-top: 110px;
  min-width: fit-content;
  max-width: max-content;
}

/** ----- main - seccion hero ------ */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 70px auto;
  width: 100%;
  height: 100%;
}
.hero-info {
  width: 33rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* margin: 0 auto; */
  gap: 30px;
}
.hero-info h2 {
  font-size: var(--font-size-h2);
  color: var(--text-white);
  text-shadow: var(--text-shadow-h2);
  font-style: italic;
}
.hero-info p {
  text-align: justify;
  font-style: italic;
  font-weight: 550;
  font-size: var(--font-size-p-section);
  line-height: 2rem;
  color: var(--text-white);
  text-shadow: var(--text-shadow-p-section);
}
.hero-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 40px;
  margin-bottom: 30px;
}
.hero-btn {
  font-size: var(--font-size-btn);
  font-weight: 600;
  width: max-content;
  height: max-content;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 50px;
  transition: all 0.5s ease-out;
  font-family: "Helvetica", sans-serif;
  cursor: pointer;
}
.account,
.login {
  background-color: var(--bg-button);
  color: var(--text-white);
  border-color: var(--text-grey);
}
.account:hover,
.login:hover {
  filter: saturate(1000%);
}
.hero-img {
  background-image: url(../img/hero/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--box-shadow-img);
  height: 20rem;
  width: 25rem;
  min-width: min-content;
  border: solid 4px;
  border-radius: 30px;
  margin-left: 25px;
  /* padding-right: 10px; */
  border: var(--border-color-img-card);
}

/** ----- main - seccion hero - final ------ */

/** ----- main - seccion about - inicio ----- */
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/about/about-image04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
  border: solid 4px;
  opacity: 0.8;
  width: 90%;
  box-shadow: var(--box-shadow-img);
  margin: 120px auto 0px auto;
  transition: all 0.5s ease-in;
  border: var(--border-color-img-card);
}
.about:hover {
  transition: all 0.5s ease-in;
  filter: saturate(150%);
}
.about-info {
  color: var(--text-white);
  text-align: center;
  width: 90%;
  height: min-content;
  margin: 50px 0px;
  font-size: var(--font-size-p-section);
  font-style: italic;
  font-weight: 600;
  line-height: 2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    0 0 0.2em rgb(75, 143, 245), 0 0 0.2em rgb(15, 90, 189),
    0 0 0.2em rgb(0, 0, 0);
}
/** ----- main - seccion about - final ----- */

/** ----- main - seccion servicios - inicio ------ */
.services {
  width: 100%;
  margin: 0 auto 200px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.services h2 {
  width: max-content;
  min-width: max-content;
  background: linear-gradient(
    280deg,
    #c7209d #c7209d,
    #db23b6,
    #d314ad,
    #854a79
  );
  border-bottom-style: solid;
  padding: 0rem 1.5rem;
  border-radius: 1.5rem;
  font-size: var(--font-size-h2);
  color: var(--text-white);
  text-shadow: var(--text-shadow-h3-card);
  font-style: italic;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  margin: 140px 0 80px 0;
  /* text-decoration: underline; */
  /* text-underline-position: under; */
}
.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  margin: auto auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: last baseline;
  width: 20%;
  width: min-content;
  height: max-content;
  border-radius: 52px;
  background: var(--background-img-card);
  box-shadow: var(--box-shadow-card);
  border: var(--border-color-img-card);
  transition: all 0.2s ease-out;
}
.cards:hover {
  filter: saturate(150%);
  cursor: pointer;
  /* padding: 4px; */
  transition: all 0.2s ease-out;
}
.cards img {
  width: 12rem;
  height: 12rem;
  border-radius: 52px;
  margin: 1rem 1.5rem;
  box-shadow: var(--box-shadow-img);
}
.card-info {
  color: var(--text-white);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* gap: 1rem; */
  font-size: var(--font-size-p-card);
  font-style: italic;
  height: 22rem;
}
.card-info h3 {
  font-size: var(--font-size-h3-card);
  text-shadow: var(--text-shadow-h3-card);
  display: flex;
  flex-wrap: wrap;
}
.card-info span {
  color: var(--text-black);
  font-weight: 700;
  font-size: var(--font-size-span-card);
  display: flex;
  flex-wrap: wrap;
}
.card-info p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  text-shadow: var(--text-shadow-p-card);
}
.card-info div {
  width: 100%;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* gap: 12px; */
  margin-top: 0.5rem;
}
.card-info button {
  font-style: oblique;
  font-size: 1rem;
  text-align: center;
}
.bx,
.bx-cart-alt {
  font-size: 1.4rem;
  font-weight: 900px;
}
.card-info div .card-price {
  color: var(--text-white);
  text-shadow: var(--text-shadow-price-card);
  font-size: 1.2rem;
  cursor: none;
  text-decoration: underline;
  text-underline-position: under;
}
/** ----- main - seccion servicios - final ------ */

/** ----- main - seccion moreInfo - inicio ------ */
.moreInfo {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  /* border: solid black 2px; */
  font-size: 18px;
}
.moreInfo-img {
  background-image: url(../img/moreInfo/Cartel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: var(--box-shadow-img);
  width: 33%;
  min-width: 18rem;
  height: 22rem;
  /* min-height: 15rem; */
  border-radius: 30px;
  border: var(--border-color-img-card);
  margin: 0 auto;
}
.moreInfo-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: flex-start; */
  gap: 1.25rem;
  width: 50%;
  font-weight: 550;
  line-height: 2.2rem;
  color: var(--text-white);
  margin: 0 auto;
  padding-left: 10px;
}
.moreInfo-data span {
  color: cyan;
  font-style: italic;
}
.moreInfo-data h2 {
  color: var(--text-white);
  font-size: var(--font-size-h2);
  line-height: 3rem;
  text-shadow: var(--text-shadow-h2);
}
.moreInfo-data p {
  color: var(--text-white);
  font-size: var(--font-size-p-section);
  font-style: italic;
  text-shadow: var(--text-shadow-p-section);
}
/** ----- main - seccion moreInfo - final ------ */

/** ----- main - seccion contact - inicio ------ */
.contact {
  width: 100%;
  height: max-content;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--text-white);
  gap: 2rem;
  margin-bottom: 4rem;
}
.contact-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.contact-title span {
  font-size: 1.5rem;
  font-weight: 600;
  color: cyan;
}
.contact-title h2 {
  font-size: var(--font-size-h2);
  text-shadow: var(--text-shadow-h2);
}
.contact-data {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.contact-data-contain {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
.contact-data-info {
  width: 50%;
  min-width: min-content;
  height: 22rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-content: space-around; */
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  /* padding: 0.5rem 1rem; */
  border-right: solid 2px;
  padding: 1rem 0;
}
.contact-data-info h4 {
  font-size: var(--font-size-h3-card);
  color: cyan;
  font-weight: 600;
}
.contact-data-info > i {
  width: 70%;
  font-size: 1.3rem;
  font-family: var(--font-size-span-card);
  font-weight: 450;
  text-align: center;
  /* text-shadow: var(--text-shadow-h3-card); */
  border-bottom: solid 0.3rem var(--text-white);
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* flex-direction: column; */
  gap: 0.5rem;
}
.contact-data-map {
  width: 40%;
  min-width: 22rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
iframe {
  width: 90%;
  height: 18rem;
  min-width: 50%;
  border-radius: 2rem;
  /* border-color: #33a4dd; */
  box-shadow: #041720 1px 1px 1px 5px;
  border-style: double;
}
.contact-form {
  width: 100%;
  min-width: 20%;
  margin: 1rem 0rem;
  /* height: 42rem; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: space-around; */
  gap: 2.5rem;
}
.contact-form h4 {
  font-size: var(--font-size-h3-card);
  color: cyan;
}
.contact-form-data {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  align-items: stretch;
}
.contact-form-data-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 0.2rem;
  text-align: start;
  font-size: 1.3rem;
  padding-left: 1rem;
}
.form-group label {
  font-size: 1rem;
  font-family: var(--font-size-span-card);
}
.form-group input {
  font-size: 1rem;
  font-family: var(--font-size-span-card);
  width: 19rem;
  height: 2.5rem;
  border-radius: 2rem;
  padding: 1rem;
  border: black;
}
.form-group input:focus {
  outline: none; /*para quitar borde al input*/
  background-color: cyan;
}
.form-group input::placeholder /*para dar color de fondo al input cuando se le da clic con el mouse*/ {
  font-style: italic;
  color: gray;
  font-weight: 500;
}
#name:invalid {
  color: red;
  font-weight: 600;
}
#name:valid {
  color: blue;
  font-weight: 600;
}
#email:invalid {
  color: red;
  font-weight: 600;
}
#email:valid {
  color: blue;
  font-weight: 600;
}
.form-group textarea {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-size-span-card);
  color: crimson;
}
#message:focus {
  background-color: cyan;
}
.form-group-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  align-items: center;
  gap: 2rem;
}
.form-group .form-group-btn .submit,
.form-group .form-group-btn .reset {
  font-size: var(--font-size-btn);
  font-weight: 600;
  font-style: italic;
  width: 1rem;
  border-radius: 4rem;
  /* transition: all 0.5s ease-out; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.submit:hover,
.reset:hover,
.reset:focus {
  background-color: grey;
  outline: none;
}

/** ----- main - seccion contact - final ------ */

/*! ---- //// MAIN FINAL---- //// */

/* *PARA CARD "clase de card":hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  transition: all 2s ease-in;
} */

footer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to right top,
    #051937,
    #171228,
    #190a1a,
    #12040d,
    #000000
  );
  border-top-left-radius: 40px;
  border-top-right-radius: 50px;
}
footer h5 {
  color: cyan;
  font-weight: 500;
  font-size: 1.2rem;
}
footer p {
  color: whitesmoke;
}
.footer-data {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.payment-methods {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.payment-methods > i {
  font-size: 2rem;
  line-height: 1.5rem;
  display: flex;
}
.payment-methods span {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
.giftcard {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.giftcard .bx {
  font-size: 2.5rem;
}
.giftcard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
}
.safe-site {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.safe-site .bx {
  font-size: 2.5rem;
}
.safe-site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: min-content;
}
.safe-site-info p {
  text-align: center;
}
.social-networks {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.social-networks-icons > i {
  width: max-content;
  font-size: 2rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: white solid;
  border-radius: 2rem;
}
.social-networks-icons i:hover {
  box-shadow: var(--text-nav-hover) 0px 0px 25px 0px;
  color: var(--text-nav-hover);
}
.footer-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}
.footer-icon img {
  height: 3rem;
  width: 3rem;
}

/* .social-networks {
  width: 20%;
  height: 16rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: first baseline;
  justify-content: space-around;
  gap: 1.5rem;
}
.social-networks h4 {
  font-size: var(--font-size-h3-card);
}
.social-networks > i {
  font-size: 1.3rem;
  font-family: var(--font-size-span-card);
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: flex-start;
} */
